body {
  font-family: sans-serif;
  width: 640px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  width: 640px;
  height: 480px;
}

.full-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgb(0 0 0 / 0);
}

button {
  position: absolute;
  top: 2px;
  left: 2px;
  cursor: pointer;
}

.thumb-bar {
  display: flex;
  gap: 2px;
  cursor: pointer;
}

.thumb-bar img {
  width: 100px;
  flex: 1;
}
